@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    background-color: #548CA8;
    color: azure;
    height: 70px;
    width: 100%;
}
.navbar .container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    margin-right: 10px;
    
}
nav ul li{
    list-style: none;
    color: #fff;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 10px;
}
a:hover {
    background: blueviolet;
}
nav ul li ul {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #548CA8;
}
nav ul li:hover > ul {
    display: block;
}

nav ul li ul a{
    display: block;

}
.navbar .autor a{
    text-decoration: none;
    background-color: #fff;
    color: #548CA8;
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 17px;

}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
section {
    grid-column:1/4 ;
    background-color: #EEEEEE;
}
aside {
    grid-column: 4/5;
    background-color: #476072;
    color: azure;
}

footer > p {
    color: azure;
    background-color: #334257;
    width: 100%;
    height: 50px;
}
img {
    width: 500px;
}
.pdf {
    width: 800px;
    height: 800px;
}